html{
    height: 100%;
    background: radial-gradient(circle, white, grey);
}

#container{
    height: 600px;
    width: 750px;
    background-color: rgb(139, 220, 247);
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 8px 0px 0px rgb(56, 157, 190);
    position: relative;
}

#score{
    background-color: rgb(196, 154, 236);
    color: black;
    padding: 11px;
    position: absolute;
    left:700px;
    box-shadow: 3px 4px 0px 0px rgb(119, 56, 190) ;
    border-radius: 5px;
}

#correct{
    position: absolute;
    left: 260px;
    background-color: rgb(33, 212, 102);
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    left: 250px;
    background-color: rgb(212, 14, 14);
    color: white;
    padding: 11px;
    display: none;
}

#fruitContainer{
    width: 650px;
    height: 400px;
    margin: 50px auto 10px auto;
    background-color: white;
    box-shadow: 6px 8px 0px 0px rgb(56, 157, 190);
    border-radius: 5px;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color:black;
    position: relative;
    overflow: hidden;

}

#instruction{
    width: 450px;
    height: 50px;
    margin: 10px auto;
    background-color: rgb(182, 136, 224);
    box-shadow: 6px 8px 0px 0px rgb(56, 157, 190);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    font-family: cursive, sans-serif;
    color:black;

}

#choice{
    height: 100px;
    width: 450px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: aliceblue;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 3px 4px grey;
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    
}

.box:hover, #set:hover{
    background-color: pink;
    color: white;
    box-shadow: 3px 4px blue;
}

#box4{
    margin-right: 0;
}

.box:active, #set:active{
    box-shadow: 0px 0px blue;
}

#set{
    width: 85px;
    padding:10px;
    background-color: aliceblue;
    
    margin: auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 3px 4px grey;
    text-align: center;
    
    position: relative;
    transition: all 0.2s;
}

#trailsLeft{
    width:100px;
    padding: 10px;
    position: absolute;
    
    background-color: rgba(181, 235, 36, 0.8);
    border-radius: 3px;
    box-shadow: 3px 4px green;
    display: none;

}

#gameOver{
    height:200px;
    width: 500px;
    background: linear-gradient(yellow, orange);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 170px;
    left: 141px;
    z-index: 2;
    display: none;
}

.life{
    width: 20px;
    height: 20px;
    margin: 0 6px;
}

.fruit{
    width: 100px;
    height: 110px;
    display: none;
    position: absolute;
}